:root {
  --color-primary-dark: #57e1ff;
  --color-primary-light: #eaeff0;
  --color-secondary-dark: #a28268;
  --color-brand-dark: #201a4f;
  --color-brand-normal: #4a3bb3;
  --color-brand-light: #6a54ff;
  --color-accent: #35ff9e;
  --color-white: #fff;
  --color-black: #000;
  --color-bg-dark: #030718;
  --color-bg-light: #fff;
  --color-icon: #e7f7f8;
  --color-light-20: rgba(255, 255, 255, 0.2);
  --color-light-30: rgba(255, 255, 255, 0.3);
  --color-light-34: rgba(255, 255, 255, 0.34);
  --color-light-40: rgba(255, 255, 255, 0.4);
  --color-light-50: rgba(255, 255, 255, 0.5);
  --color-light-70: rgba(255, 255, 255, 0.7);
  --color-light-80: rgba(255, 255, 255, 0.8);
  --color-dark-50: rgba(0, 0, 0, 0.5);
  --color-dark-80: rgba(0, 0, 0, 0.8);
  --color-bg-dark-80: rgb(3, 7, 24, 0.8);
  --color-bg-dark-56: rgb(3, 7, 24, 0.56);
  --color-primary-dark-20: rgb(87, 225, 255, 0.2);
  --color-brand-light-40: rgb(106, 84, 255, 0.4);
  --color-primary-dark-80: rgb(87, 225, 255, 0.8);
  --shadow-button: 0 0 4px 0 rgb(87, 225, 255);
}

.ibm-plex-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ibm-plex-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: unset;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  width: unset;
}

button {
  cursor: pointer;
  text-transform: unset;
}

.text-white {
  color: var(--color-white);
}

.text-blake {
  color: var(--color-black);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.is-scroll-disabled {
  overflow: hidden;
}

.regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.link {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-brand-normal);
}

.button-opacity {
  display: block;
  padding: 16px 0;
  color: var(--color-primary-dark);
  font-weight: 500;
  background-color: var(--color-primary-dark-20);
  border: 2px solid var(--color-primary-dark);
  border-radius: 3px;
  cursor: pointer;
  width: 165px;
  box-shadow: var(--shadow-button);
}
.button-opacity:hover {
  color: var(--color-bg-dark);
  background-color: var(--color-primary-dark);
}
@media screen and (min-width: 768px) {
  .button-opacity {
    padding: 4px 8px;
    font-size: 14px;
    width: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .button-opacity {
    padding: 11px 24px;
    font-size: 14px;
    width: 86px;
  }
}

.buttons {
  display: block;
  padding: 16px 0;
  color: var(--color-bg-dark);
  font-weight: 500;
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
  border-radius: 3px;
  cursor: pointer;
  width: 165px;
  box-shadow: var(--shadow-button);
  text-transform: uppercase;
}
.buttons:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-dark-20);
}
@media screen and (min-width: 768px) {
  .buttons {
    padding: 4px 8px;
    font-size: 14px;
    width: 110px;
  }
}
@media screen and (min-width: 1440px) {
  .buttons {
    padding: 11px 24px;
    font-size: 14px;
    width: 146px;
  }
}

.section {
  padding: 40px 0;
}
@media screen and (min-width: 1440px) {
  .section {
    padding: 56px 0;
  }
}
.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}
@media screen and (min-width: 1440px) {
  .section__title {
    font-size: 44px;
  }
}
.section__title--centered {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 80px;
  }
}

.header {
  position: fixed;
  background-color: var(--color-bg-dark);
  width: 100%;
  height: 52px;
  color: var(--color-white);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    height: 68px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: normal;
    gap: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .header__container {
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}
.header__logo {
  width: 108px;
  height: 52px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 130px;
    height: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    width: 138px;
    height: 68px;
  }
}
.header__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .header__menu {
    gap: 32px;
  }
}
.header__buttons {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .header__buttons {
    gap: 12px;
    flex-direction: row;
  }
}
.header__burger {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: var(--color-icon);
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 9px 8px 0 16px;
  transform: translateX(100%);
  transition: transform 0.3s;
  background-color: var(--color-brand-light);
  text-transform: uppercase;
}
.mobile-menu::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 240px;
  content: "";
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  top: 9px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 60px;
}
.mobile-menu__link {
  color: var(--color-white);
  font-size: 24px;
  line-height: 1.5;
  text-decoration: none;
}
.mobile-menu__link:hover {
  color: var(--color-brand-normal);
}
.mobile-menu__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin-top: 113px;
}

.hero {
  background-color: var(--color-bg-dark);
  padding: 92px 0 64px 0;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 120px 0 80px 0;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding: 228px 0 134px 0;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    flex-direction: row-reverse;
    gap: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__container {
    gap: 128px;
  }
}
.hero__img {
  width: 300px;
  height: 134px;
}
@media screen and (min-width: 1440px) {
  .hero__img {
    width: 500px;
    height: 210px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__img {
    width: 500px;
    height: 100%;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1440px) {
  .hero__content {
    width: 630px;
  }
}
.hero__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .hero__info {
    width: 630px;
  }
}
.hero__title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 60px;
  }
}
.hero__text {
  color: rgba(231, 247, 248, 0.8);
}
@media screen and (min-width: 1440px) {
  .hero__text {
    width: 560px;
  }
}
.hero__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hero__form--text {
  color: var(--color-light-30);
  font-size: 14px;
}
@media screen and (min-width: 1440px) {
  .hero__form {
    width: 500px;
  }
}
.hero__input {
  padding: 16px 15px;
  color: var(--color-light-34);
  font-weight: 500;
  background-color: var(--color-brand-dark);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .hero__input {
    padding: 16px 20px;
  }
}
.hero__button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 102px;
  height: 42px;
  padding: 11px 0;
}

.numbers {
  position: relative;
  padding: 24px 0 48px 0;
}
@media screen and (min-width: 768px) {
  .numbers {
    padding: 38px 0 50px 0;
  }
}
@media screen and (min-width: 1440px) {
  .numbers {
    padding: 56px 0 60px 0;
  }
}
.numbers__bg {
  position: absolute;
  top: -24px;
  left: 0;
  width: 272px;
  height: 82px;
  background-color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .numbers__bg {
    width: 480px;
    height: 70px;
    top: -40px;
  }
}
@media screen and (min-width: 1440px) {
  .numbers__bg {
    width: 640px;
    height: 60px;
    top: -59px;
  }
}
.numbers__bg--right {
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
}
.numbers__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .numbers__container {
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .numbers__container {
    flex-direction: row;
    gap: 156px;
  }
}
.numbers__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 1;
}
.numbers__title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .numbers__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .numbers__title {
    font-size: 44px;
  }
}
.numbers__text {
  color: var(--color-dark-50);
  font-size: 14px;
}
.numbers__list {
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px 60px;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .numbers__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0 30px;
  }
}
@media screen and (min-width: 1440px) {
  .numbers__list {
    gap: 0 100px;
  }
}
.numbers__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (min-width: 1440px) {
  .numbers__item {
    gap: 8px;
  }
}
.numbers__item--text {
  color: var(--color-dark-80);
}
@media screen and (min-width: 768px) {
  .numbers__item--text {
    width: 160px;
  }
}
@media screen and (min-width: 1440px) {
  .numbers__item--text {
    width: 230px;
  }
}
.numbers__item--number {
  font-weight: 500;
  color: var(--color-brand-light);
  font-size: 35px;
}
@media screen and (min-width: 1440px) {
  .numbers__item--number {
    font-size: 60px;
  }
}

.agreements {
  padding: 50px 0 80px 0;
  background-color: var(--color-bg-dark);
}
.agreements__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.agreements__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.agreements__title {
  font-size: 28px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .agreements__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .agreements__title {
    font-size: 44px;
  }
}
.agreements__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: var(--color-accent);
}
.agreements__subtitle--circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--color-accent);
}
.agreements__subtitle--text {
  font-size: 14px;
  text-transform: capitalize;
}
.agreements__carrousel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.agreements__cards {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .agreements__cards {
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .agreements__cards {
    gap: 20px;
  }
}
.agreements__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 16px 16px 13px 16px;
  background-color: var(--color-brand-light);
  border-radius: 4px;
  width: 300px;
  height: 210px;
}
.agreements__card--bg {
  clip-path: polygon(0 0, 260px 0, 300px 40px, 300px 210px, 0 210px);
}
.agreements__card--info {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}
.agreements__card--top {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.agreements__card--text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.agreements__card--title {
  font-size: 20px;
  font-weight: 600;
}
.agreements__card--subtitle {
  font-size: 14px;
  color: var(--color-light-40);
}
.agreements__card--subtitle--size {
  text-transform: lowercase;
  font-weight: 400;
}
.agreements__card--name {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-light-70);
}
.agreements__card--number {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 28px;
  color: var(--color-accent);
  height: 36px;
  align-items: center;
}
.agreements__card--icon {
  width: 11px;
  height: 18px;
}
.agreements__card--logo {
  position: absolute;
  top: 8px;
  right: -52px;
  width: 160px;
  height: 160px;
}
.agreements__card--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.agreements__card--bottom--target {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-light-70);
  text-transform: capitalize;
}
.agreements__card--bottom--date {
  font-size: 14px;
  color: var(--color-light-40);
  text-transform: math-auto;
  font-weight: 400;
}
.agreements__pagination {
  margin: 0 auto;
}
.agreements__pagination--track {
  width: 310px;
  height: 6px;
  background-color: rgba(67, 79, 112, 0.4);
  border-radius: 56px;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .agreements__pagination--track {
    width: 640px;
  }
}
@media screen and (min-width: 1440px) {
  .agreements__pagination--track {
    width: 955px;
  }
}
.agreements__pagination--thumb {
  width: 60px;
  height: 6px;
  background-color: #6073a1;
  border-radius: 56px;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.3s ease, width 0.3s ease;
}
@media screen and (min-width: 768px) {
  .agreements__pagination--thumb {
    width: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .agreements__pagination--thumb {
    width: 190px;
  }
}

.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  list-style: none;
}

.about {
  position: relative;
  padding: 24px 0 133px 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 38px 0 70px 0;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding: 56px 0 96px 0;
  }
}
.about__bg {
  position: absolute;
  top: -24px;
  left: 0;
  width: 272px;
  height: 82px;
  background-color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .about__bg {
    width: 480px;
    height: 70px;
    top: -40px;
  }
}
@media screen and (min-width: 1440px) {
  .about__bg {
    width: 640px;
    height: 60px;
    top: -59px;
  }
}
.about__bg--right {
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
}
.about__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .about__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}
.about__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
.about__title {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-bg-dark);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .about__title {
    font-size: 44px;
  }
}
.about__text {
  color: var(--color-dark-80);
  font-size: 16px;
}
@media screen and (min-width: 1440px) {
  .about__text {
    width: 420px;
  }
}
.about__card {
  position: absolute;
  bottom: -125px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 356px;
  background-color: var(--color-brand-light);
  padding: 16px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .about__card {
    position: unset;
    top: 0;
    bottom: 0;
    transform: none;
    width: 430px;
    padding: 24px 32px;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .about__card {
    width: 630px;
    padding: 32px 64px;
    gap: 32px;
  }
}
.about__card--text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.about__card--form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .about__card--form {
    gap: 16px;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .about__card--form {
    position: relative;
    flex-direction: row;
  }
}
.about__card--input {
  padding: 15px 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-brand-normal);
  color: var(--color-light-34);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .about__card--input {
    gap: 16px;
    padding: 16px;
    width: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .about__card--input {
    width: 500px;
    padding: 20px 16px;
  }
}
.about__card--btn {
  width: 324px;
  margin: 0 auto;
  padding: 16px 0;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .about__card--btn {
    width: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .about__card--btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    width: 165px;
    height: 52px;
    padding: 16px 24px;
  }
}

.tradeblade {
  padding: 180px 0 96px 0;
  background: var(--color-bg-dark);
}
@media screen and (min-width: 768px) {
  .tradeblade {
    padding: 60px 0 130px 0;
  }
}
@media screen and (min-width: 1440px) {
  .tradeblade {
    padding: 96px 0 156px 0;
  }
}
.tradeblade__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .tradeblade__container {
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .tradeblade__container {
    justify-content: space-between;
  }
}
.tradeblade__title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .tradeblade__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .tradeblade__title {
    font-size: 44px;
    width: 305px;
  }
}
.tradeblade__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .tradeblade__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 16px;
  }
}
@media screen and (min-width: 1440px) {
  .tradeblade__list {
    grid-template-columns: 420px 420px;
    gap: 56px 20px;
  }
}
.tradeblade__item {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.tradeblade__item--img {
  width: 56px;
  height: 56px;
}
.tradeblade__item--text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tradeblade__item--title {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .tradeblade__item--title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .tradeblade__item--title {
    font-size: 28px;
  }
}
.tradeblade__item--description {
  font-size: 14px;
  color: var(--color-light-80);
}
@media screen and (min-width: 1440px) {
  .tradeblade__item--description {
    font-size: 16px;
  }
}

.how-to {
  position: relative;
  padding: 24px 0 44px 0;
  background-color: var(--color-brand-light);
}
@media screen and (min-width: 768px) {
  .how-to {
    padding: 40px 0 64px 0;
  }
}
@media screen and (min-width: 1440px) {
  .how-to {
    padding: 56px 0 96px 0;
  }
}
.how-to__bg {
  position: absolute;
  top: -24px;
  left: 0;
  width: 272px;
  height: 82px;
  background-color: var(--color-brand-light);
}
@media screen and (min-width: 768px) {
  .how-to__bg {
    width: 480px;
    height: 70px;
    top: -40px;
  }
}
@media screen and (min-width: 1440px) {
  .how-to__bg {
    width: 640px;
    height: 60px;
    top: -59px;
  }
}
.how-to__bg--right {
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
}
.how-to__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .how-to__container {
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .how-to__container {
    gap: 80px;
  }
}
.how-to__title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .how-to__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .how-to__title {
    font-size: 44px;
  }
}
.how-to__steps {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .how-to__steps {
    gap: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .how-to__steps {
    gap: 56px;
  }
}
.how-to__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-left: 1px solid var(--color-light-30);
  padding: 0 0 0 30px;
}
@media screen and (min-width: 1440px) {
  .how-to__list {
    flex-direction: row;
    gap: 40px;
    padding: 30px 0 0 0;
    border-top: 1px solid var(--color-light-30);
    border-left: none;
    gap: 20px;
  }
}
.how-to__item {
  position: relative;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 1440px) {
  .how-to__item {
    flex-direction: column;
  }
}
.how-to__item--line {
  position: absolute;
  top: 0;
  left: -31.5px;
  width: 2px;
  height: 100%;
  border-left: 2px solid var(--color-bg-light);
}
@media screen and (min-width: 1440px) {
  .how-to__item--line {
    top: -31.5px;
    left: 0;
    width: 100%;
    height: 2px;
    border-left: none;
    border-top: 2px solid var(--color-bg-light);
  }
}
.how-to__item--text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1440px) {
  .how-to__item--text {
    width: 305px;
  }
}
.how-to__item--title {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .how-to__item--title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .how-to__item--title {
    font-size: 28px;
  }
}
.how-to__item--description {
  font-size: 16px;
  color: var(--color-light-80);
}
@media screen and (min-width: 768px) {
  .how-to__item--description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .how-to__item--description {
    font-size: 20px;
  }
}
.how-to__btn {
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .how-to__btn {
    width: 345px;
    padding: 16px 0;
  }
}

.tariffs {
  padding: 56px 0 44px 0;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid #d9d9d9;
}
@media screen and (min-width: 768px) {
  .tariffs {
    padding: 70px 0 60px 0;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs {
    padding: 96px 0 96px 0;
  }
}
.tariffs__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .tariffs__container {
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__container {
    gap: 40px;
  }
}
.tariffs__title {
  font-size: 28px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .tariffs__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__title {
    font-size: 44px;
  }
}
.tariffs__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .tariffs__info {
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info {
    gap: 44px;
  }
}
.tariffs__info--wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .tariffs__info--wrapper {
    margin-left: 40px;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--wrapper {
    margin-left: 218px;
    gap: 44px;
  }
}
.tariffs__info--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 4px;
  background-color: var(--color-brand-light-40);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .tariffs__info--buttons {
    width: 350px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--buttons {
    width: 420px;
  }
}
.tariffs__info--active {
  width: 167px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .tariffs__info--active {
    width: 160px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--active {
    width: 200px;
    font-size: 24px;
  }
}
.tariffs__info--inactive {
  width: 167px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary-dark-80);
  background-color: unset;
  box-shadow: none;
  border: none;
}
@media screen and (min-width: 768px) {
  .tariffs__info--inactive {
    width: 160px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--inactive {
    width: 200px;
    font-size: 24px;
  }
}
.tariffs__info--cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .tariffs__info--cards {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--cards {
    flex-direction: row;
  }
}
.tariffs__info--card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  width: auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  .tariffs__info--card {
    width: 380px;
    padding: 18px;
    gap: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--card {
    width: 420px;
    padding: 24px;
    gap: 56px;
  }
}
.tariffs__info--card-data {
  display: flex;
  flex-direction: column;
}
.tariffs__info--card-data--standard {
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .tariffs__info--card-data--standard {
    gap: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--card-data--standard {
    gap: 98px;
  }
}
.tariffs__info--card-data--vip {
  gap: 40px;
}
.tariffs__info--card-standard {
  border: 1px solid var(--color-brand-light);
}
.tariffs__info--card-vip {
  background-color: var(--color-brand-light);
}
.tariffs__info--card-title {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .tariffs__info--card-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .tariffs__info--card-title {
    font-size: 32px;
  }
}
.tariffs__info--card-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tariffs__info--card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 1px dashed var(--color-light-20);
}
.tariffs__info--card-text {
  font-size: 16px;
}
.tariffs__info--card-deposit {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tariffs__info--card-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tariffs__info--card-amount {
  font-size: 35px;
  font-weight: 500;
}
.tariffs__info--card-sup {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-accent);
}
.tariffs__info--card-month {
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--color-light-20);
  border: none;
  padding: 8px;
  text-align: center;
  width: 128px;
}
.tariffs__info--card-month option {
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--color-brand-normal);
  border: none;
  padding: 8px;
  text-align: center;
}
.tariffs__info--card-btn {
  width: 100%;
  padding: 8px 0;
}
.tariffs__info--card-btn--title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-bg-dark);
}
.tariffs__info--card-btn--subtitle {
  font-size: 12px;
  color: var(--color-bg-dark-56);
  text-transform: lowercase;
}/*# sourceMappingURL=main.css.map */