*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: unset;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
button {
    cursor: pointer;
    text-transform: unset;
}
