.ibm-plex-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; // Regular
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.ibm-plex-medium {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; // Medium
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.ibm-plex-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; // Bold
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
