:root {
    --color-primary-dark: #57e1ff;
    --color-primary-light: #eaeff0;
    --color-secondary-dark: #a28268;
    --color-brand-dark: #201a4f;
    --color-brand-normal: #4a3bb3;
    --color-brand-light: #6a54ff;
    --color-accent: #35ff9e;
    --color-white: #fff;
    --color-black: #000;
    --color-bg-dark: #030718;
    --color-bg-light: #fff;
    --color-icon: #e7f7f8;
    --color-light-30: rgba(255, 255, 255, 0.3);
    --color-light-34: rgba(255, 255, 255, 0.34);
    --color-light-40: rgba(255, 255, 255, 0.4);
    --color-light-50: rgba(255, 255, 255, 0.5);
    --color-light-70: rgba(255, 255, 255, 0.7);
    --color-dark-50: rgba(0, 0, 0, 0.5);
    --color-dark-80: rgba(0, 0, 0, 0.8);
    --color-bg-dark-80: rgb(3, 7, 24, 0.8);
    --color-primary-dark-20: rgb(87, 225, 255, 0.2);
    --shadow-button: 0 0 4px 0 rgb(87, 225, 255);
}

$bp-mobile: 375px;
// $bp-tablet: 768px;
$bp-desktop: 1440px;
