@use "../utils/variables" as *;

.button-opacity {
    display: block;
    padding: 16px 0;
    color: var(--color-primary-dark);
    font-weight: 500;
    background-color: var(--color-primary-dark-20);
    border: 2px solid var(--color-primary-dark);
    border-radius: 3px;
    cursor: pointer;
    width: 165px;

    &:hover {
        color: var(--color-bg-dark);
        background-color: var(--color-primary-dark);
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 11px 24px;
        font-size: 14px;
        width: 86px;
    }
}
