@use "../utils/variables" as *;

.input {
    padding: 15px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-brand-normal);
    color: var(--color-light-34);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    width: auto;

    @media screen and (min-width: $bp-tablet) {
        gap: 16px;
        padding: 16px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 20px 16px;
    }
}
