@use "../utils/variables" as *;

.about {
    position: relative;
    padding: 24px 0 133px 0;

    @media screen and (min-width: $bp-tablet) {
        padding: 38px 0 70px 0;
    }
    @media screen and (min-width: $bp-desktop) {
        padding: 56px 0 96px 0;
    }

    &__bg {
        position: absolute;
        top: -24px;
        left: 0;
        width: 272px;
        height: 82px;
        background-color: var(--color-white);

        @media screen and (min-width: $bp-tablet) {
            width: 480px;
            height: 70px;
            top: -40px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 640px;
            height: 60px;
            top: -59px;
        }

        &--right {
            clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 1;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        color: var(--color-bg-dark);
        text-transform: uppercase;

        @media screen and (min-width: $bp-tablet) {
            font-size: 36px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 44px;
        }
    }

    &__text {
        color: var(--color-dark-80);
        font-size: 16px;

        @media screen and (min-width: $bp-desktop) {
            width: 420px;
        }
    }

    &__card {
        position: absolute;
        bottom: -125px;
        right: 50%;
        transform: translateX(50%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 356px;
        background-color: var(--color-brand-light);
        padding: 16px;
        border-radius: 4px;

        @media screen and (min-width: $bp-tablet) {
            position: unset;
            top: 0;
            bottom: 0;
            transform: none;
            width: 430px;
            padding: 24px 32px;
            gap: 24px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 630px;
            padding: 32px 64px;
            gap: 32px;
        }

        &--text {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }

        &--form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media screen and (min-width: $bp-tablet) {
                gap: 16px;
                align-items: center;
            }

            @media screen and (min-width: $bp-desktop) {
                position: relative;
                flex-direction: row;
            }
        }

        &--input {
            @media screen and (min-width: $bp-tablet) {
                width: 340px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 500px;
            }
        }

        &--btn {
            width: 324px;
            margin: 0 auto;
            padding: 16px 0;
            font-size: 16px;

            @media screen and (min-width: $bp-tablet) {
                width: 340px;
            }

            @media screen and (min-width: $bp-desktop) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 4px;
                width: 165px;
                height: 52px;
                padding: 16px 24px;
            }
        }
    }
}
