@use "../utils/variables" as *;

.faq {
    padding: 56px 0 54px 0;
    background-color: var(--color-white);

    @media screen and (min-width: $bp-tablet) {
        padding: 70px 0 60px 0;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 96px 0 96px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: $bp-tablet) {
            margin-left: 100px;
            gap: 52px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-left: 220px;
            gap: 64px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;

        @media screen and (min-width: $bp-tablet) {
            font-size: 36px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 44px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 16px;
        background-color: var(--color-primary-light);
        border-radius: 4px;
        width: auto;

        @media screen and (min-width: $bp-tablet) {
            width: 600px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 846px;
        }

        &--head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 0.75rem 0;
        }

        &--title {
            font-size: 20px;
            font-weight: 500;
            color: var(--color-bg-dark);
            width: 270px;

            @media screen and (min-width: $bp-tablet) {
                font-size: 22px;
            }

            @media screen and (min-width: $bp-desktop) {
                font-size: 24px;
            }
        }
    }

    &__panel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.32s ease;
        color: var(--color-light-80);
    }
}

.icon-up {
    display: none;
}

.faq__item.is-open .icon-down {
    display: none;
}
.faq__item.is-open .icon-up {
    display: inline-block;
}

.faq__item.is-open {
    background-color: var(--color-brand-light);
    gap: 12px;
}

.faq__item.is-open .faq__item--title {
    color: var(--color-white);
}
