@use "../utils/variables" as *;

.header {
    position: fixed;
    background-color: var(--color-bg-dark);
    width: 100%;
    height: 52px;
    color: var(--color-white);

    @media screen and (min-width: $bp-desktop) {
        height: 68px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        text-transform: uppercase;
    }

    &__nav {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
        }
    }

    &__logo {
        height: 52px;

        @media screen and (min-width: $bp-desktop) {
            height: 68px;
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 32px;
        }
    }

    &__buttons {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 12px;
        }
    }

    &__burger {
        width: 32px;
        height: 32px;
        padding: 0;
        background-color: transparent;
        border: none;
        fill: var(--color-icon);

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
}
