@use "../utils/variables" as *;

.hero {
    background-color: var(--color-bg-dark);
    padding: 92px 0;

    @media screen and (min-width: $bp-desktop) {
        padding: 160px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 33px;

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row-reverse;
            gap: 128px;
        }
    }

    &__img {
        width: 300px;
        height: 134px;

        @media screen and (min-width: $bp-desktop) {
            width: 500px;
            height: 210px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $bp-desktop) {
            width: 630px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: $bp-desktop) {
            width: 630px;
        }
    }

    &__title {
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (min-width: $bp-desktop) {
            font-size: 60px;
        }
    }

    &__text {
        color: rgb(231, 247, 248, 0.8);

        @media screen and (min-width: $bp-desktop) {
            width: 560px;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &--text {
            color: var(--color-light-30);
            font-size: 14px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 500px;
        }
    }

    &__input {
        padding: 16px 15px;
        color: var(--color-light-34);
        font-weight: 500;
        background-color: var(--color-brand-dark);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;

        @media screen and (min-width: $bp-desktop) {
            padding: 16px 20px;
        }
    }

    &__button {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 102px;
        height: 42px;
        padding: 11px 0;
    }
}
