@use "../utils/variables" as *;

.how-to {
    position: relative;
    padding: 24px 0 44px 0;
    background-color: var(--color-brand-light);

    @media screen and (min-width: $bp-tablet) {
        padding: 40px 0 64px 0;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 56px 0 96px 0;
    }

    &__bg {
        position: absolute;
        top: -24px;
        left: 0;
        width: 272px;
        height: 82px;
        background-color: var(--color-brand-light);

        @media screen and (min-width: $bp-tablet) {
            width: 480px;
            height: 70px;
            top: -40px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 640px;
            height: 60px;
            top: -59px;
        }

        &--right {
            clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (min-width: $bp-tablet) {
            gap: 60px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 80px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 1;

        @media screen and (min-width: $bp-tablet) {
            font-size: 36px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 44px;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: $bp-tablet) {
            gap: 50px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 56px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        border-left: 1px solid var(--color-light-30);
        padding: 0 0 0 30px;

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            gap: 40px;
            padding: 30px 0 0 0;
            border-top: 1px solid var(--color-light-30);
            border-left: none;
            gap: 20px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;

        @media screen and (min-width: $bp-desktop) {
            flex-direction: column;
        }

        &--line {
            position: absolute;
            top: 0;
            left: -31.5px;
            width: 2px;
            height: 100%;
            border-left: 2px solid var(--color-bg-light);

            @media screen and (min-width: $bp-desktop) {
                top: -31.5px;
                left: 0;
                width: 100%;
                height: 2px;
                border-left: none;
                border-top: 2px solid var(--color-bg-light);
            }
        }

        &--text {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media screen and (min-width: $bp-desktop) {
                width: 305px;
            }
        }

        &--title {
            font-size: 20px;
            font-weight: 500;

            @media screen and (min-width: $bp-tablet) {
                font-size: 24px;
            }

            @media screen and (min-width: $bp-desktop) {
                font-size: 28px;
            }
        }

        &--description {
            font-size: 16px;
            color: var(--color-light-80);

            @media screen and (min-width: $bp-tablet) {
                font-size: 18px;
            }

            @media screen and (min-width: $bp-desktop) {
                font-size: 20px;
            }
        }
    }

    &__btn {
        margin: 0 auto;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;

        @media screen and (min-width: $bp-tablet) {
            width: 345px;
            padding: 16px 0;
        }
    }
}
