.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 9px 8px 0 16px;
    transform: translateX(100%);
    transition: transform 0.3s;
    background-color: var(--color-brand-light);
    text-transform: uppercase;

    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 180px;
        height: 240px;
        content: "";
    }

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 9px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        fill: var(--color-white);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 60px;
    }

    &__link {
        color: var(--color-white);
        font-size: 24px;
        line-height: 1.5;
        text-decoration: none;

        &:hover {
            color: var(--color-brand-normal);
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        margin-top: 113px;
    }
}
