@use "../utils/variables" as *;

.reviews {
    padding: 56px 0 64px 0;
    background-color: var(--color-bg-dark);

    @media screen and (min-width: $bp-tablet) {
        padding: 70px 0 80px 0;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 96px 0 96px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: $bp-tablet) {
            margin-left: 60px;
            gap: 48px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-left: 109px;
            gap: 56px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;

        @media screen and (min-width: $bp-tablet) {
            font-size: 36px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 44px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            gap: 50px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 72px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (min-width: $bp-tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 20px;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: auto;
        height: auto;
        padding: 24px 16px;
        border-radius: 4px;
        background-color: var(--color-bg-medium);

        &--img {
            width: 81px;
            height: 81px;

            @media screen and (min-width: $bp-tablet) {
                height: 90px;
            }

            @media screen and (min-width: $bp-desktop) {
                height: 105px;
            }
        }

        &--info {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &--info-head {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        &--info-title {
            font-size: 20px;
            font-weight: 500;
        }

        &--info-subtitle {
            font-size: 14px;
            color: #a5aebc;

            &--size {
                font-weight: 500;
            }
        }

        &--info-text {
            font-size: var(--color-light-80);
        }
    }

    &__btn {
        border: 2px solid var(--color-primary-dark);
        border-radius: 3px;
        box-shadow: none;
        background-color: unset;
        padding: 16px 24px;
        width: 300px;
        margin: 0 auto;
    }
}
