@use "../utils/variables" as *;

.section {
    padding: 40px 0;

    @media screen and (min-width: $bp-desktop) {
        padding: 56px 0;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.3;

        @media screen and (min-width: $bp-desktop) {
            font-size: 44px;
        }

        &--centered {
            text-align: center;
        }
    }
}
