@use "../utils/variables" as *;

.tariffs {
    padding: 56px 0 44px 0;
    background-color: var(--color-bg-dark);
    border-bottom: 1px solid #d9d9d9;

    @media screen and (min-width: $bp-tablet) {
        padding: 70px 0 60px 0;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 96px 0 96px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            gap: 32px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 40px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;

        @media screen and (min-width: $bp-tablet) {
            font-size: 36px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 44px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            gap: 32px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 44px;
        }

        &--wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-left: 0;

            @media screen and (min-width: $bp-tablet) {
                margin-left: 40px;
                gap: 32px;
            }

            @media screen and (min-width: $bp-desktop) {
                margin-left: 218px;
                gap: 44px;
            }
        }

        &--buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
            padding: 4px;
            background-color: var(--color-brand-light-40);
            border-radius: 4px;

            @media screen and (min-width: $bp-tablet) {
                width: 350px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 420px;
            }
        }

        &--active {
            width: 167px;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 700;

            @media screen and (min-width: $bp-tablet) {
                width: 160px;
                font-size: 20px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 200px;
                font-size: 24px;
            }
        }

        &--inactive {
            width: 167px;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 500;
            color: var(--color-primary-dark-80);
            background-color: unset;
            box-shadow: none;
            border: none;

            @media screen and (min-width: $bp-tablet) {
                width: 160px;
                font-size: 20px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 200px;
                font-size: 24px;
            }
        }

        &--cards {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (min-width: $bp-tablet) {
                flex-direction: row;
            }

            @media screen and (min-width: $bp-desktop) {
                flex-direction: row;
            }
        }

        &--card {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 16px;
            border-radius: 8px;
            width: auto;
            height: auto;

            @media screen and (min-width: $bp-tablet) {
                width: 380px;
                padding: 18px;
                gap: 36px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 420px;
                padding: 24px;
                gap: 56px;
            }
        }

        &--card-data {
            display: flex;
            flex-direction: column;

            &--standard {
                gap: 24px;

                @media screen and (min-width: $bp-tablet) {
                    gap: 96px;
                }

                @media screen and (min-width: $bp-desktop) {
                    gap: 98px;
                }
            }

            &--vip {
                gap: 40px;
            }
        }

        &--card-standard {
            border: 1px solid var(--color-brand-light);
        }

        &--card-vip {
            background-color: var(--color-brand-light);
        }

        &--card-title {
            font-size: 20px;
            font-weight: 500;

            @media screen and (min-width: $bp-tablet) {
                font-size: 24px;
            }

            @media screen and (min-width: $bp-desktop) {
                font-size: 32px;
            }
        }

        &--card-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &--card-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            border-bottom: 1px dashed var(--color-light-20);
        }

        &--card-text {
            font-size: 16px;
        }

        &--card-deposit {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &--card-price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &--card-amount {
            font-size: 35px;
            font-weight: 500;
        }

        &--card-sup {
            font-size: 18px;
            font-weight: 500;
            color: var(--color-accent);
        }

        &--card-month {
            font-size: 16px;
            border-radius: 4px;
            background-color: var(--color-light-20);
            border: none;
            padding: 8px;
            text-align: center;
            width: 128px;
        }

        &--card-month option {
            font-size: 16px;
            border-radius: 4px;
            background-color: var(--color-brand-normal);
            border: none;
            padding: 8px;
            text-align: center;
        }

        &--card-btn {
            width: 100%;
            padding: 8px 0;

            &--title {
                font-size: 16px;
                font-weight: 500;
                color: var(--color-bg-dark);
            }

            &--subtitle {
                font-size: 12px;
                color: var(--color-bg-dark-56);
                text-transform: lowercase;
            }
        }
    }
}
