@use "../utils/variables" as *;

.tradeblade {
    padding: 180px 0 96px 0;
    background: var(--color-bg-dark);

    @media screen and (min-width: $bp-tablet) {
        padding: 60px 0 130px 0;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 96px 0 156px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 30px;
        }

        @media screen and (min-width: $bp-desktop) {
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (min-width: $bp-tablet) {
            font-size: 32px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 44px;
            width: 305px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media screen and (min-width: $bp-tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px 16px;
        }

        @media screen and (min-width: $bp-desktop) {
            grid-template-columns: 420px 420px;
            gap: 56px 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        gap: 32px;

        &--img {
            width: 56px;
            height: 56px;
        }

        &--text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &--title {
            font-size: 20px;
            font-weight: 500;

            @media screen and (min-width: $bp-tablet) {
                font-size: 24px;
            }

            @media screen and (min-width: $bp-desktop) {
                font-size: 28px;
            }
        }

        &--description {
            font-size: 14px;
            color: var(--color-light-80);

            @media screen and (min-width: $bp-desktop) {
                font-size: 16px;
            }
        }
    }
}
